body, html {
  padding: 0;
  margin: 0; }

section {
  width: 100%;
  height: 90vh;
  overflow-y: hidden; }

#name {
  font-size: 3.5em;
  position: absolute;
  left: 3vw;
  top: 3vh;
  color: #fafafa;
  cursor: default; }

#web-dev-landing {
  font-size: 0.4em;
  margin-left: 1.3vw;
  margin-top: -0.8vh;
  color: #2865e2; }

#landing-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: 8vw;
  top: 30vh;
  z-index: 50;
  color: #e6e6e6;
  width: 35vw;
  font-size: 1.8em;
  font-family: times;
  cursor: default; }

#pre-projects {
  position: relative; }

#pre-projects-info {
  width: 50%;
  height: auto;
  text-align: left;
  font-size: 1.9em;
  position: absolute;
  top: 20%;
  left: 20%; }

#pre-projects-info-title {
  font-size: 1.2em;
  color: #2c70f7;
  font-weight: bold;
  font-family: sans-serif; }

#pre-projects-info-2 {
  width: 50%;
  height: auto;
  text-align: left;
  font-size: 1.7em;
  position: absolute;
  bottom: 35%;
  left: 25%; }

#pre-projects-info-title-2 {
  font-size: 1.2em;
  color: #2c70f7;
  font-weight: bold;
  font-family: sans-serif;
  text-align: right; }

#projects {
  position: relative; }

#display {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-image: url("../images/carla.jpg");
  background-position: center;
  background-size: cover;
  cursor: pointer; }

#info-icon {
  width: 3.5vw;
  height: 3.5vw;
  position: absolute;
  top: 1vh;
  left: 0vw;
  background-image: url("../images/info-icon.png");
  background-position: center;
  background-size: cover;
  z-index: 100;
  cursor: pointer;
  -webkit-animation: shrink 0.5s forwards;
  animation: shrink 0.5s forwards; }

#info-icon:hover {
  -webkit-animation: grow 1s forwards;
  animation: grow 1s forwards; }

#info-content {
  width: 30%;
  height: calc(90vh - 8vw - 2vh);
  background-color: rgba(0, 0, 0, 0.8);
  color: gainsboro;
  position: absolute;
  left: 0;
  top: 2vh;
  cursor: default;
  display: none; }

#info-content-span {
  margin: 3%;
  margin-top: 8%; }

#bottom-bar {
  width: 100%;
  height: 7vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0vh; }

.bottom-bar-project {
  width: 4vw;
  height: 4vw;
  border: solid 1px grey;
  margin-left: 3vw;
  cursor: pointer;
  -webkit-animation: shrink .5s forwards;
  animation: shrink .5s forwards;
  background-position: center;
  background-size: cover; }

.bottom-bar-project:hover {
  -webkit-animation: grow 1s forwards;
  animation: grow 1s forwards; }

#carla {
  background-image: url("../images/carla.jpg"); }

#jk {
  background-image: url("../images/jk.jpg"); }

#tokiwa {
  background-image: url("../images/tokiwa.jpg"); }

#raincheck {
  background-image: url("../images/raincheck.jpg"); }

#about {
  position: relative; }

#skills-container {
  width: 50%;
  height: 60%;
  position: absolute;
  left: 5%;
  top: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: left;
  -webkit-align-items: left;
  -ms-flex-align: left;
  align-items: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.skill {
  height: 7%;
  width: 80%;
  background-color: blue;
  margin-top: 5%; }

#js {
  background-color: purple; }

#html {
  width: 75%;
  background-color: orange; }

#sass {
  width: 75%;
  background-color: pink; }

#node {
  width: 60%;
  background-color: green; }

#angular {
  width: 60%;
  background-color: red; }

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); } }

@keyframes grow {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); } }

@-webkit-keyframes shrink {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes shrink {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes shift-right {
  0% {
    -webkit-transform: translatex(-100%);
    transform: translatex(-100%); }
  100% {
    -webkit-transform: translatex(0%);
    transform: translatex(0%); } }

@keyframes shift-right {
  0% {
    -webkit-transform: translatex(-100%);
    transform: translatex(-100%); }
  100% {
    -webkit-transform: translatex(0%);
    transform: translatex(0%); } }
