@font-face {
  font-family: "Handwriting";
  src: url("fonts/Jellyka_Estrya_Handwriting.ttf") format("truetype");
}
body, html {
  padding: 0;
  margin: 0;
}
.nav-bar {
  height: 30vh;
  background-color: rgb(46, 47, 48);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
.nav-btn {
  padding: 0vh 4vw 1vh 4vw;
  font-family: "Handwriting", Arial;
  font-size: 6vw;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -0.2vh;
  border-radius: 0.2vh;
  color: rgba(170, 170, 170, 0.95);
  user-select: none;
}
.nav-btn-animated {
  color: white;
  background-color: default
  animation: light 400ms forwards;
}
.nav-btn-no-anim {
  background-color: white;
}
.nav-btn:hover {
  color: rgba(170, 170, 170, 0.95);
  animation: dark 700ms forwards;
}
@keyframes dark {
  100% {
    background-color: white;
  }
}
@keyframes light {
  0% {
    background-color: white;
  }
  100% {
    background-color: default;
  }
}
.bar {
  width: 120%;
  height: 0.3vh;
  background-color: grey;
  margin: auto;
  margin-top: -1.9vh;
  margin-bottom: 0.2vh;
}
