body, html
  padding: 0
  margin: 0
  // background-color: rgb(235, 235, 235)

section
  width: 100%
  height: 90vh
  overflow-y: hidden

//Landing Section
//Logo
#name
  font-size: 3.5em
  position: absolute
  left: 3vw
  top: 3vh
  color: rgba(250, 250, 250, 1)
  cursor: default

#web-dev-landing
  font-size: 0.4em
  margin-left: 1.3vw
  margin-top: -0.8vh
  color: rgba(40, 101, 226, 1)

//Landing information
#landing-info
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  position: absolute
  left: 8vw
  top: 30vh
  z-index: 50
  color: rgb(230, 230, 230)
  width: 35vw
  font-size: 1.8em
  font-family: times
  cursor: default


//Pre-Projcts section
#pre-projects
  position: relative

#pre-projects-info
  width: 50%
  height: auto
  text-align: left
  font-size: 1.9em
  position: absolute
  top: 20%
  left: 20%

#pre-projects-info-title
  font-size: 1.2em
  color: rgb(44, 112, 247)
  font-weight: bold
  font-family: sans-serif

#pre-projects-info-2
  width: 50%
  height: auto
  text-align: left
  font-size: 1.7em
  position: absolute
  bottom: 35%
  left: 25%

#pre-projects-info-title-2
  font-size: 1.2em
  color: rgb(44, 112, 247)
  font-weight: bold
  font-family: sans-serif
  text-align: right

//Projects Section
#projects
  position: relative

#display
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 110%
  background-image: url("../images/carla.jpg")
  background-position: center
  background-size: cover
  cursor: pointer

#info-icon
  width: 3.5vw
  height: 3.5vw
  position: absolute
  top: 1vh
  left: 0vw
  background-image: url("../images/info-icon.png")
  background-position: center
  background-size: cover
  z-index: 100
  cursor: pointer
  animation: shrink 0.5s forwards

#info-icon:hover
  animation: grow 1s forwards

#info-content
  width: 30%
  height: calc(90vh - 8vw - 2vh)
  background-color: rgba(0, 0, 0, 0.8)
  color: rgb(220, 220, 220)
  position: absolute
  left: 0
  top: 2vh
  cursor: default
  display: none

#info-content-span
  margin: 3%
  margin-top: 8%

//Project Navigation Bar
#bottom-bar
  width: 100%
  height: 7vw
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  background-color: rgba(0, 0, 0, 0.4)
  position: absolute
  bottom: 0vh

.bottom-bar-project
  width: 4vw
  height: 4vw
  border: solid 1px grey
  margin-left: 3vw
  cursor: pointer
  animation: shrink .5s forwards
  background-position: center
  background-size: cover

.bottom-bar-project:hover
  animation: grow 1s forwards

#carla
  background-image: url("../images/carla.jpg")

#jk
  background-image: url("../images/jk.jpg")

#tokiwa
  background-image: url("../images/tokiwa.jpg")

#raincheck
  background-image: url("../images/raincheck.jpg")


//About section
#about
  position: relative
//Skills
#skills-container
  width: 50%
  height: 60%
  position: absolute
  left: 5%
  top: 20%
  // background-color: rgba(0, 0, 0, 0.4)
  display: flex
  flex-direction: column
  align-items: left
  justify-content: center

.skill
  height: 7%
  width: 80%
  background-color: blue
  margin-top: 5%

#js
  background-color: purple

#html
  width: 75%
  background-color: orange

#sass
  width: 75%
  background-color:  pink

#node
  width: 60%
  background-color: green

#angular
  width: 60%
  background-color: red

//Animations
@keyframes grow
  0%
    transform: scale(1)
  100%
    transform: scale(1.5)

@keyframes shrink
    0%
      transform: scale(1.5)
    100%
      transform: scale(1)

@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fade-out
  0%
    opacity: 1
  100%
    opacity: 0

@keyframes shift-right
  0%
    transform: translatex(-100%)
  100%
    transform: translatex(0%)
