/*Fonts*/
@font-face {
  font-family: "machine";
  src: url("fonts/MachineScript.ttf") format("truetype");
}
html {
  user-select: none;
}
body {
  position: relative;
}
/*Name and Contact Info*/
.slant {
  background-color: rgba(10, 10, 10, 0.9);
  color: rgba(250, 250, 250, 0.9);
  transform: skewX(350deg);
  height: 7vh;
  width: 12vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 2.6vh;
  margin: 10vh 0 0 10vw;
  font-family: "machine";
  user-select: none;
}
.contact {
  display: none;
  width: 18vw;
}

/*Bubbles*/
.bubble {
  width: 20vw;
  height: 20vw;
  background-color: blue;
  float: right;
  border-radius: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}


/*Animation Keyframes*/
@keyframes showit {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
