/*Fonts*/
@font-face {
  font-family: "machine";
  src: url("fonts/MachineScript.ttf") format("truetype");
}
@font-face {
  font-family: "top";
  src: url("fonts/TopModern.ttf") format("truetype");
}
* {
  user-select: none;
}

body, html {
  padding: 0;
  margin: 0;
  background-color: rgb(237, 237, 237);
  max-width: 99.8vw;
}
div {
  margin: 0;
  padding: 0;
}

/*Generic classes*/
.black {
  color: rgb(10, 10, 10);
}
.green {
  color: green;
}
.red {
  color: red;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin-left: 10%;
  padding-top: 1%;
}

.back-to-top {
  width: 2.4vw;
  min-width: 40px;
  height: 2.4vw;
  min-height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.9);
  position: fixed;
  right: 1vw;
  bottom: 1vh;
  font-size: calc(10px + 1vw);
  align-content: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  z-index: 5;
  display: none;
}
.back-to-top-div {
  margin-bottom: -1vh;
}

.landing {
  height: 100vh;
  width: 100%;
  background-color: grey;
  position: relative;
  background-image: url("images/landing.jpg");
  background-size: cover;
  background-position: right bottom;
}
#name {
  font-size: 3.5vmin;
  position: absolute;
  right: 15vw;
  bottom: 20vh;
  color: rgba(180, 180, 180, 0.4);
  cursor: default;
  animation: fade-right 2.5s forwards;
}
#web-dev-landing {
  font-size: 2.2vmin;
  margin-left: 1.3vw;
  margin-top: -0.2vh;
}
#landing-list {
  font-size: 3vmin;
  position: absolute;
  left: 28vw;
  top: 45vh;
  padding: 1vh;
  line-height: 140%;
  cursor: pointer;
  color: rgba(200, 200, 200, 0.8);
}
.list-item {
  animation: fade-up 2s forwards;
  opacity: 0;
}
#list-ab {
  animation-delay: 1s;
}
#list-web {
  animation-delay: 1.4s;
}
#list-app {
  animation-delay: 1.7s;
}
#list-blog {
  animation-delay: 2s;
}
#list-contact {
  animation-delay: 2.3s;
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.down-carrot {
  color: rgba(250, 250, 250, 0.5);
  font-size: 5vmin;
  margin-bottom: 1vh;
  transform: rotate(180deg);
  animation: bob 1.4s alternate infinite;
  user-select: none;
}

.filler {
  height: 20vh;
  width: 100%;
}

.section-1 {
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  position: relative;
  overflow: hidden;
  background-image: url("images/portrait-edit-1.jpg");
  background-size: cover;
  background-position: right;
  z-index: 1;
}
.about-me-title {
  position: absolute;
  top: 3vh;
  font-size: 7vw;
  color: rgb(10, 10, 10);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.about-me-bar {
  width: 80%;
  height: 0.6vh;
  display: flex;
  background-color: rgba(30, 30, 30, 1);
  transform: skewX(320deg);
}
.me {
  width: 25vw;
  height: 50vh;
  background-image: url("images/tgif-me-port-edit.jpg");
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: -25vh;
  filter: grayscale(40%);
}
.grey-box-bottom {
  width: 33vw;
  min-width: 400px;
  height: auto;
  max-height: 60vh;
  font-size:calc(7px + 1.5vmin);
  padding: 2vw;
  padding-left: 0;
  bottom: calc( 200px + 35vmin);
  position: absolute;
  color: rgb(235, 235, 235);
  letter-spacing: 1px;
  left: 3vw;
  z-index: 2;
}

.section-2 {
  height: 100vh;
  width: 100%;
  max-width: 99.6%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  font-size: 3vw;
}
.section-2-title {
  position: absolute;
  top: 10vh;
  left: 2vw;
}
.website-block {
  width: 50%;
  height: 60vh;
  margin: auto auto 0vh auto;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 1vh;
  cursor: pointer;
  filter: grayscale(20%);
  font-size: 3vw;
  opacity: 0;
}
.grey-cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: fade-out 200ms forwards;
}
.website-block:hover .grey-cover{
  animation: fade-in 600ms forwards;
}
#carla {
  background-image: url("images/Carla-Web.png");
  animation-delay: 500ms;
}
#tokiwa {
  background-image: url("images/Tokiwa-Web.png");
  color: white;
  animation-delay: 500ms;
}

.apps {
  background-color: rgba(237, 67, 30, 0.8);
  /*background-color: rgb(35, 35, 35);*/
}
.section-3 {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  position: relative;
  z-index: 1;
  background-color: rgba(237, 67, 30, 0.8);
}
.application-title {
  font-size: calc(25px + 2.5vw);
  color: rgb(10, 10, 10);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: solid 0.3vw black;
  padding: 0.5vw;
  z-index: 4;
}
.bubble-container {
  width: 40vw;
  height: 73vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  bottom: 5vh;
  left: 4vw;
  padding: 1vw;
  z-index: 2;
}
.bubble {
  height: 8vw;
  min-height: 100px;
  width: 8vw;
  min-width: 100px;
  font-size: calc(11px + 1vw);
  border-radius: 2vw;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 0;
  z-index: 3;
}
.raincheck {
  background-image: url("images/raincheck.png");
}
.information-container {
  width: 40vw;
  height: 73vh;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  bottom: 5vh;
  right: 4vw;
  padding: 1vw;
  z-index: 2;
  background-color: rgba(50, 50, 50, 0.9);
}
.raincheck-information {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  user-select: none;
  font-size: calc(8px + 1vw);
}
.raincheck-information-title {
  margin-top: 0;
}
.raincheck-information-body {
  font-size: calc(5px + 0.7vw);
  width: 90%;
  letter-spacing: 0.1vh;
  margin: auto;
  font-family: serif;
}

.section-4 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  font-size: 3vw;
  overflow-y: hidden;
  background-image: url("images/blog-back.jpg");
  background-size: cover;
  cursor: pointer;
}
h1 {
  font-size: 6vh;
}
.tab {
  text-align: left;
  margin-left: 9vw;
  font-weight: normal;
}
.post {
  width: 66vw;
  padding: 4vh;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  font-size: 2.8vh;
  border-radius: 15px;
  box-shadow: 0px 5px 50px rgba(255, 255, 255, 1);
  text-align: left;
}
#post-p {
  text-align: left;
}
.left {
  font-size: 4vh;
  position: absolute;
  left: -2vw;
  top: 0vh;
}
.right {
  font-size: 4vh;
  position: absolute;
  right: -2vw;
  bottom: 0vh;
}


.section-5 {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
}


@keyframes drop-down {
  0% {
    transform: translatey(-7vh)
  }
  100% {
    transform: translatey(0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-in-left {
  0% {
    opacity: 1;
    transform: translatex(-50vw);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}
@keyframes slide-in-right {
  0% {
    opacity: 1;
    transform: translatex(50vw);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}
@keyframes bob {
  0% {
    transform: rotate(180deg) translatey(0)
  }
  100% {
    transform: rotate(180deg) translatey(-0.7vh)
  }
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translatey(5vh)
  }
  100% {
    opacity: 1;
    transform: translatey(0vh)
  }
}
@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translatex(5vh)
  }
  100% {
    opacity: 1;
    transform: translatex(0vh)
  }
}
@keyframes return {
  0% {
    user-select: none;
  }
  99% {
    user-select: none;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@keyframes app-hover {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes app-hover-off {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes slide-up {
  0% {
    transform: translatey(0);
  }
  15% {
    border-top-color: rgba(0, 0, 0, 0);
  }
  30% {
    border-right-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
  }
  45% {
    border-bottom-color: rgba(0, 0, 0, 0);
  }
  50% {
    transform: translatey(0);
  }
  100% {
    transform: translatey(-40vh);
    font-size: 3vw;
    border-color: rgba(0, 0, 0, 0);
  }
}
@keyframes fade-in-bubble {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes show-back {
  100% {
    background-color: rgba(50, 50, 50, 0.9);
  }
}
@keyframes open-up {
  0% {
    height: 0;
    width: 40vw
  }
  100% {
    height: 50vh;
    width: 40vw;
  }
}
@keyframes move-left {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translatex(-20vw);
  }
}
@keyframes grow-2 {
  0% {
    width: 8vw;
    height: 8vw;
  }
  100% {
    height: 16vw;
    width: 16vw;
  }
}
@keyframes fade-in-info {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
