/*Fonts*/
@font-face {
  font-family: "machine";
  src: url("fonts/MachineScript.ttf") format("truetype");
}
@font-face {
  font-family: "top";
  src: url("fonts/TopModern.ttf") format("truetype");
}
* {
  user-select: none;
}

body, html {
  padding: 0;
  margin: 0;
  background-color: rgb(237, 237, 237);
  max-width: 99.8vw;
}
div {
  margin: 0;
  padding: 0;
}

.back-to-top {
  width: 2.4vw;
  min-width: 40px;
  height: 2.4vw;
  min-height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.9);
  position: fixed;
  right: 1vw;
  bottom: 1vh;
  font-size: calc(10px + 1vw);
  align-content: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  z-index: 5;
  display: none;
}
.back-to-top-div {
  margin-bottom: -1vh;
}
.landing {
  height: 100vh;
  width: 100%;
  background-color: grey;
  position: relative;
  background-image: url("images/landing.jpg");
  background-size: cover;
  background-position: right bottom;
}
#name {
  font-size: 3.5vmin;
  position: absolute;
  right: 15vw;
  bottom: 20vh;
  color: rgba(180, 180, 180, 0.4);
  cursor: default;
  animation: fade-right 2.5s forwards;
}
#web-dev-landing {
  font-size: 2.2vmin;
  margin-left: 1.3vw;
  margin-top: -0.2vh;
}
#landing-list {
  font-size: 3vmin;
  position: absolute;
  left: 28vw;
  top: 45vh;
  padding: 1vh;
  line-height: 140%;
  cursor: pointer;
  color: rgba(200, 200, 200, 0.8);
}
.list-item {
  animation: fade-up 2s forwards;
  opacity: 0;
}
#list-ab {
  animation-delay: 1s;
}
#list-web {
  animation-delay: 1.4s;
}
#list-app {
  animation-delay: 1.7s;
}
#list-blog {
  animation-delay: 2s;
}
#list-contact {
  animation-delay: 2.3s;
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.down-carrot {
  color: rgba(250, 250, 250, 0.5);
  font-size: 5vmin;
  margin-bottom: 1vh;
  transform: rotate(180deg);
  animation: bob 1.4s alternate infinite;
  user-select: none;
}

.section-1-1 {
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  position: relative;
  overflow: hidden;
  background-color: rgba(191, 231, 255, 0.6);
  z-index: 1;
}
.about-me-title {
  position: absolute;
  top: 3vh;
  font-size: 7vw;
  color: rgb(30, 30, 30);
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.about-me-bar {
  width: 80%;
  height: 0.6vh;
  display: flex;
  background-color: rgba(30, 30, 30, 0.8);
  transform: skewX(320deg);
}
.me {
  width: 25vw;
  height: 50vh;
  background-image: url("images/tgif-me-port-edit.jpg");
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: -25vh;
  filter: grayscale(40%);
}
.grey-box-bottom {
  width: 28vw;
  min-width: 400px;
  height: auto;
  background-color: rgba(250, 250, 250, 1);
  font-size:calc(7px + 1.5vmin);
  padding: 2vw;
  margin-bottom: 60vh;
  border: solid 5px rgba(0, 0, 0, 0.8);
  z-index: 2;
}


.section-1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  position: relative;
  background-color: rgba(191, 231, 255, 0.6);
  font-family: "top";
  overflow: hidden;
}
.left-strike-big {
  width: 1.7vw;
  height: 70vh;
  background-color: rgba(0, 57, 142, 0.9);
  position: absolute;
  bottom: -20vh;
  left: 8vw;
  transform: rotate(310deg);
  box-shadow: 7px 0px 15px rgba(0, 0, 0, 0.6);
}
.left-strike-small {
  width: 0.5vw;
  height: 70vh;
  background-color: rgba(2, 86, 145, 0.9);
  position: absolute;
  bottom: -25vh;
  left: 5vw;
  transform: rotate(310deg);
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.6);
}
.grey-panel {
  width: 100vw;
  height: 200vh;
  position: absolute;
  top: -80vh;
  right: -75vw;
  background-color: rgba(50, 50, 50, 1);
  transform: rotate(330deg);
  box-shadow: inset 0px 0px 30px 15px rgb(0, 0, 0);
}
.portrait {
  width: 8vw;
  height: 8vw;
  background-image: url("images/tgif-me-port.jpg");
  background-size: cover;
  border-radius: 10vw;
}
.portrait-circle {
  width: 10vw;
  height: 10vw;
  border-radius: 15vw;
  position: absolute;
  right: 51vw;
  top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-border {
  width: auto;
  height: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vh;
}
.about-border-left {
  bottom: 42vh;
  left: 0;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
  padding-left: 0;
  opacity: 0;
  animation: slide-in-left 1s forwards;
  animation-delay: 500ms;
}
.about-border-right {
  bottom: 9vh;
  right: 0;
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
  padding-right: 0;
  opacity: 0;
  animation: slide-in-right 1s forwards;
  animation-delay: 500ms;
}
.about-container {
  width: 58vw;
  height: auto;
  padding: 3.5vh 0 3.5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.about-container-left {
  bottom: 42vh;
  left: 0;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
}
.about-container-right {
  bottom: 9vh;
  right: 0;
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
}
.about-me-span {
  font-size:calc(8px + 1.2vmin);
  width: 50vw;
  font-family: monospace;
  color: rgb(0, 0, 0);
  letter-spacing: normal;
  line-height: normal;
}
.about-me-span-top {
  margin-right: 2vw;
}
.about-me-span-bottom {
  margin-left: 2vw;
  text-align: right;
}

.section-2 {
  height: 120vh;
  width: 100%;
  max-width: 99.6%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  font-size: 3vw;
}
.section-2-title {
  position: absolute;
  top: 10vh;
  left: 2vw;
}
.website-block {
  width: 50vw;
  height: 60vh;
  margin: auto auto 0 auto;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 1vh;
  cursor: pointer;
  filter: grayscale(20%);
  font-size: 3vw;
  opacity: 0;
}
.grey-cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: grey-over-back 200ms forwards;
}
.website-block:hover .grey-cover{
  animation: grey-over 600ms forwards;
}
#carla {
  background-image: url("images/Carla-Web.png");
  animation-delay: 500ms;
}
#tokiwa {
  background-image: url("images/Tokiwa-Web.png");
  color: white;
  animation-delay: 500ms;
}

.section-3 {
  height: 120vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
}
.raincheck {
  height: 10vw;
  width: 10vw;
  background-color: grey;
  font-size: 1.2vw;
  border-radius: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.section-4 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  font-size: 3vw;
  overflow-y: hidden;
  background-image: url("images/blog-back.jpg");
  background-size: cover;
  cursor: pointer;
}
h1 {
  font-size: 6vh;
}
.tab {
  text-align: left;
  margin-left: 9vw;
  font-weight: normal;
}
.post {
  width: 66vw;
  padding: 4vh;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  font-size: 2.8vh;
  border-radius: 15px;
  box-shadow: 0px 5px 50px rgba(255, 255, 255, 1);
  text-align: left;
}
#post-p {
  text-align: left;
}
.left {
  font-size: 4vh;
  position: absolute;
  left: -2vw;
  top: 0vh;
}
.right {
  font-size: 4vh;
  position: absolute;
  right: -2vw;
  bottom: 0vh;
}


.section-5 {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
}


@keyframes drop-down {
  0% {
    transform: translatey(-7vh)
  }
  100% {
    transform: translatey(0);
  }
}
@keyframes grey-over {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes grey-over-back {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-in-left {
  0% {
    opacity: 1;
    transform: translatex(-50vw);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}
@keyframes slide-in-right {
  0% {
    opacity: 1;
    transform: translatex(50vw);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}
@keyframes bob {
  0% {
    transform: rotate(180deg) translatey(0)
  }
  100% {
    transform: rotate(180deg) translatey(-0.7vh)
  }
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translatey(5vh)
  }
  100% {
    opacity: 1;
    transform: translatey(0vh)
  }
}
@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translatex(5vh)
  }
  100% {
    opacity: 1;
    transform: translatex(0vh)
  }
}
